USE MASTER
GO

IF DB_ID(N'PhotoSharing') is not NULL
	DROP DATABASE PhotoSharing
	GO

CREATE DATABASE PhotoSharing
GO

USE PhotoSharing
GO

CREATE TABLE COMMENT(
	UID smallint NOT NULL,
	PID smallint NOT NULL,
	CID smallint IDENTITY(1,1) NOT NULL,
	SCORE smallint NOT NULL,
	TXT varchar(50),
    CONSTRAINT PK_COMMENT PRIMARY KEY (UID,PID,CID)
)
GO

CREATE TABLE PICTURE(
	PID smallint NOT NULL,
	AUTHOR smallint NOT NULL,
	IMG image,
    CONSTRAINT PK_PICTURE PRIMARY KEY (PID )
)
GO

CREATE TABLE USERS(
	UID smallint NOT NULL,
	NAME nvarchar(50) NOT NULL,
    CONSTRAINT PK_USERS PRIMARY KEY (UID))
GO

ALTER TABLE COMMENT ADD  CONSTRAINT FK_COMMENT_PICTURE FOREIGN KEY(PID)
REFERENCES PICTURE (PID)
GO

ALTER TABLE COMMENT ADD CONSTRAINT FK_COMMENT_USERS FOREIGN KEY(UID)
REFERENCES USERS (UID)
GO
